body{
    background-color: #0d0d0d;
}
.principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    padding: 5%;

}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(218, 220, 240);
    gap: 3%;
    padding: 3%;
    border-radius: 10px;
    
    .contenedorImg{
        display: flex;
        justify-items: center;
        align-items: center;
        .img{
            width: 150px;
            border-radius: 5px;
        }
    }
    p{
        width: fit-content;
        height: fit-content;
        justify-self: center;
        align-self: center;
        font-size: 1.5rem;
        font-weight: 700;
        font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(240, 183, 145);
    }
    
}
.bucador{
    background-color: rgb(197, 185, 202);
    p{color: #0d0d0d;}
}
@media (max-width: 680px) {
    .principal{
        display: grid;
        grid-template-columns: 1fr;
    }
}